<%= semantic_form_for @album, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
  <% if !@album.cover_file_name.nil? %>
  	<%= image_tag @album.cover.url(:thumb) %>
  <% end %>
  <%= f.input :cover %>
  <%= f.inputs :title, :artist, :description %>
  <%= f.submit "Save Album", :class => "btn" %>
<% end %>