<div class="container">
  <div class="btn-toolbar">
    <div class="btn-group pull-right">
        <a href="<%= new_album_path %>" class="btn">
          <i class="icon-plus"></i> Create New Album
        </a>
    </div>
  </div>
</div>
<br/>
<div class="container">
  <table class="table datatable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Cover</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% if @albums.empty? %>
        <tr>
          <td colspan="5"><p>Sorry, there are no albums yet.</p></td>
        </tr>
      <% else %>
        <% @albums.each do |album| %>
          <tr>
            <td><%= album.id %></td>
            <td><%= album.title %></td>
            <td><%= album.artist %></td>
            <td><%= image_tag album.cover.url(:thumb) %></td>
            <td>
              <%= link_to "Show", album_path(album) %>
              <%= link_to "Edit", edit_album_path(album) %>
              <%= link_to "Delete", album_path(album) , :confirm => 'Are you sure?', :method => :delete %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>