<div class="row">
 <div class="span5">
 	<%= image_tag @album.cover.url(:large) %>
 </div>
 <div class="span7">
 	<h2><%= @album.title %></h2>
 	<h4><%= @album.artist %></h4>
 	<p><%= @album.description %></p>
 </div>
</div>